@import "../variable.scss";


#rentalListing {

    /* SINGLE CARD STYLES*/
    .bwm-card {
        border: none;
        margin-bottom: 10px;

        .card-block {
            padding-top: 8px;

            .card-subtitle {
                margin: 0;
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;


                span {
                    color: #333;
                    text-transform: capitalize;
                }
            }

            .card-title {
                font-size: 19px;
                margin: 3px 0;
                color: $main-text-grey-color;
                text-transform: uppercase;
            }

            .card-text {
                font-size: 14px;
                font-weight: 300;
                color: #7e7e7e;
                margin-bottom: 0;
            }
        }
    }

}

;



.apartment {
    color: #a72da3;
}

.home {
    color: #bf1818;
}

.condo {
    color: #d68000;
}

.rental-detail-link{
    &:hover{
        text-decoration: none; 
    }
}