
::-webkit-input-placeholder {
    color: #42454e;
  }
  
  ::-ms-input-placeholder {
    color: #42454e;
  }
  
  ::placeholder {
    color: #42454e;
  }
  
  input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
  }
  
  input[type="search"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
            appearance: none;
  }
  
  input[type="submit"] {
    cursor: pointer;
  }
  
  .form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }


  @media (max-width: 978px) {
    .form__field {
      min-width: 400px;
    }
}


@media (max-width: 523px) {
  .form__field {
    min-width: 300px;
  }
}

@media (max-width: 423px) {
  .form__field {
    min-width: 220px;
  }
}
  
  
  .form__input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  /* modules/search.css */
  
  .rental__search {
    // background-color: #42454e;
    border-radius: .125rem;
    font-size: 12px;
    font-size: .75rem;
    padding: 8px;
    padding: .5rem;
    margin-left: 30px;
  }

  @media (max-width: 373px) {
    .form__field {
      min-width: 170px;
    }

    .rental__search {
      // background-color: #42454e;
      border-radius: .125rem;
      font-size: 12px;
      font-size: .75rem;
      padding: 8px;
      padding: .5rem;
      margin-left: 10px;
    }
  
  }
  
  .rental__search input[type="search"],
  .rental__search input[type="submit"] {
    border-radius: .125rem;
  }
  
  .rental__search input[type="search"] {
    font-size: 13px;
    background-color: #fff;
    color: #42454e;
    padding: 6px 8px;
    padding: 1.1rem 2rem;
  }
  
  .rental__search input[type="submit"] {
    background-color: #1bba9a;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-left: 8px;
    margin-left: .5rem;
    padding: 6px 18px;
    padding: .400rem .625rem;
    letter-spacing: 1px;
  }
  
  .rental__search input[type="submit"]:focus,
  .rental__search input[type="submit"]:hover {
    background-color: #189e83;
  }
  