.userProfileContainer {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    background: var(--color-grey-light1);

    @media only screen and (max-width : $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width : $bp-small) {
        flex-direction: column;
    }



    &__detail {

        flex: 0 0 65%;
        margin-right: 1.5rem;
        background: #fff;
        border-radius: .625rem;
        box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);

        &-heading {
            padding: 1.5rem;
            border-bottom: 1px solid #eee;
            color: #3d5170;

            & h2 {
                font-weight: 500;
            }

        }

        &-form {

            #js-form {
                width: 100%;
            }

            .btn-profile-update {

                margin-top: 5px;
                color: #fff;
                border-color: #007bff;
                background-color: #007bff;
                box-shadow: none;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
                border: 1px solid transparent;
                padding: .8625rem 1rem;
                font-size: 15px;
                line-height: 1.125;
                border-radius: .25rem;
                -webkit-transition: all .25s cubic-bezier(.27, .01, .38, 1.06);
                transition: all .25s cubic-bezier(.27, .01, .38, 1.06);
            }

            .profile-update:active {
                box-shadow: 1px 2px 5px rgba(90, 97, 105, .1);
            }

            padding: 1.5rem;


            $radius: 4px;

            .name {
                width: 100%;
            }

            .name input,
            .submit input,
            select,
            textarea {
                width: 49.6%;
                height: 3em;
                text-indent: .5em;
                border: .1em solid #eee;
                border-radius: $radius;
                outline-color: #037692;
            }

            .name input[name="email"],
            .name input[name="mobile"] {
                float: left;
                width: 49%;
            }

            .name input[name="email"] {
                margin-right: 2%;
            }

            .name input[type="fullwidth"] {
                margin-top: 1em;
                width: 100%;
            }

            .radio,
            .dropdown,
            .message,
            .check,
            .submit {
                margin-top: 1em;
            }

            .dropdown select,
            .message textarea,
            .submit input {
                width: 100%;
            }

            .dropdown select {
                color: #aaa;
            }

            .message textarea {
                height: 8em;
            }

            @media only screen and (max-width: 463px) {
                .name {
                    width: 100%;
                }

                .name input,
                .submit input,
                select,
                textarea {
                    width: 100%;
                    height: 3em;
                    text-indent: .5em;
                    border: .1em solid #eee;
                    border-radius: $radius;
                    outline-color: #037692;
                }


                .name input[type="halfwidth"] {
                    float: right;
                    margin-bottom: 1em;
                }


             



            }
        }



        @media only screen and (max-width : $bp-medium) {
            padding: 2rem;
            margin-right: 3rem;
        }

        @media only screen and (max-width : $bp-small) {
            margin-right: 0;
            margin-bottom: 3rem;
        }
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        :root {
            --border-radius: 7px;
            --color-gray-x-light: hsl(0, 0%, 95%);
            --color-gray-light: hsl(0, 0%, 65%);
            --color-orange: hsl(20, 95%, 65%);
        }

        .userInfoWrapper {
            width: 90%;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);

        }


        #input-container {
            border-radius: var(--border-radius);
            display: flex;
            background-color: #fff;
            padding: 1rem 1.2rem;
            box-shadow: 0 5px 15px hsla(0, 0, 0, .2);
            width: 100%;
            margin-bottom: 1rem;
        }

        form>input {
            border: solid 1px var(--color-gray-light);
            font-size: 1rem;
            height: 38px;
            padding: 5px 10px;
            background-color: var(--color-gray-x-light);
            border-radius: var(--border-radius);
            flex-grow: 1;
        }

        form>input::placeholder {
            color: var(--color-gray-light);
        }

        form>button {
            border: 0;
            color: #fff;
            background-color: var(--color-orange);
            border-radius: var(--border-radius);
            height: 38px;
            font-size: 1rem;
            padding: 5px 10px;
            margin: 0 0 0 .75rem;
            cursor: pointer;
            font-weight: bold;
        }

        #user-profile {
            margin: 5px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 1rem 1.2rem;
            width: 90%;
            border-bottom: 1px solid #eee;

        }

        #user-profile-img {
            width: 90px;
            height: 90px;
            background: hsl(200, 5%, 92%);
            border-radius: 50%;
            display: inline-block;
            margin-right: 1rem;
            background-size: cover;
        }


        #user-info {
            margin-top: 20px;
            display: inline-block;
            max-width: 200px;
        }

        #user-info #user-name {
            font-size: 2.525rem;
            font-weight: 500;
            line-height: 1;
            color: #3d5170;
        }

        #user-company {
            margin-top: 1.9rem;
            margin-left: 21px;
            text-align: center;
            font-size: 18px;
            color: #868e96 !important;
            margin-bottom: .5rem !important;
        }

    }

    .userDetail {
        padding: 6px 16px 16px 16px;

        &__title {
            font-size: 13px;
            color: #868e96 !important;

        }

        &__text {
            font-weight: 100;
            color: #bbb;
            font-size: 14px;
            letter-spacing: .6px;
        }
    }


}

;