.toggle-button {
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: space-around;
    z-index: 5352333333333333;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 28px;
    height: 2px;
    background: white;
}